@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

 html {
  color-scheme: only light !important;
  forced-color-adjust: none !important;
}




@keyframes footerGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-footerGradient {
  animation: footerGradient 18s ease infinite;
}

@keyframes floatSlow {
  0% { transform: translate(0, 0); }
  50% { transform: translate(30px, -20px); }
  100% { transform: translate(0, 0); }
}

@keyframes floatReverse {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-25px, 25px); }
  100% { transform: translate(0, 0); }
}

.animate-floatSlow {
  animation: floatSlow 14s ease-in-out infinite;
}

.animate-floatReverse {
  animation: floatReverse 16s ease-in-out infinite;
}

